language: java
jdk:
  - oraclejdk8
node_js: '6'
env:
  - NODE_VERSION=6.9.1
script:
  - nvm use $NODE_VERSION
  - npm run unit
before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
before_script:
  - nvm install $NODE_VERSION
  - npm install




